<head>
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <!-- Custom CSS -->
  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: ;
    }
  .cart-count{
    position: absolute;
    top: 10px;
    font-size: 14px;
  }
  .cart{
    padding-right: 40px;

  }
  {% comment %} .navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
  } {% endcomment %}
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Inventory</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'test' %}">Dashboard</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <div class="profile-dropdown">
            <span class="text-white">Hello,</span>
            <a href="{% url 'profile' %}" class="profile">{{ request.user }} Profile</a>
            <div class="dropdown-menu">
              {% if not request.user.is_staff %}
                <a href="{% url 'myorder' %}">My Orders</a>
              {% endif %}
              <a href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        </form>
        {% if not request.user.is_staff %}
        <div class="cart">
          <a href="{% url 'cart' %}" class="cart-icon"><i class="fa-solid fa-cart-shopping">
            <span class="cart-count">{{cart_items|length }}</span></i></a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block content %} {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
