{% extends 'partials/base.html' %}
{% block content %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <div class="container">
    <div class="row my-4">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-info text-">Profile Page</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <div class="col-md-4">
                  <img class="img-thumbnail" src="./media/profile-img1.jpg" alt="" />
                </div>
                <span class="h4">Profile Information</span> 
                <hr />
                <table class="table bg-white table-borderless">
                  <tbody>
                    <tr>
                      <th scope="row">Name</th>
                      <td>{{ workers.username }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Email</th>
                      <td>{{ workers.email }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Phone</th>
                      <td>{{ workers.profile.phone }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Address</th>
                      <td>{{ workers.profile.address }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-4">
                <img class="img-thumbnail"
                  src="{% if user.profile.image %}
                    {{ workers.profile.image.url }}
                  {% else %}   
                    /media/profile_images/m0v11kkl.png
                  {% endif %}"
                  alt="Profile Image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
